{% extends "MSICoreBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light form-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-comments-o font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">{{ 'msi.members.members.com.comment'|trans({}, 'Members') }}</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    TEST
                </div>
            </div>
        </div>
    </div>
{% endblock %}