{% extends "MSIUserBundle::resetLayout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="form-actions">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
        <a href="{{ url('fos_user_security_login') }}" class="btn grey btn-default"><i class="fa fa-reply"></i></a>
    </div>
{% endblock fos_user_content %}
