<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> {{ 'msi.core.header.title'|trans }}
    <small>{{ 'msi.core.header.subtitle'|trans }}</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">{{ 'msi.core.header.home'|trans }}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{ 'msi.core.header.title'|trans }}</span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->